.contato {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.dados li {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: .8rem;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #DDD;
  margin-right: 10px;
}

@media (max-width: 750px) {
  .contato {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .contato {
    grid-template-columns: 1fr;
  }
}